.card{
    background-color: transparent;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 12px;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.card h5{
    color: white;
}