.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6em;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    background-color: #FFFFEC;
}

.container img{
    width: 5em;
}

.container button{
    background-color: #FFDD95;
    transition: background-color 0.3s ease-in-out;
}

.container button:hover, .container button:active, .container button:focus{
    background-color: #fe9137;
    border-color: transparent;
}

.container a{
    padding: 32px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.container a:hover{
    color: #FF9843;
}

@media(max-width: 768px){
    .container a{
        padding: 0 32px;
    }
}