.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: #FFFFEC;
    padding: 12px;
}


.image img{
    width: 10em;
}